<div class="container">
<h1 class="font-bold text-4xl mb-10 text-center">Shopping List for <%= current_user.name %></h1>
<div class="mb-10 text-center">
  <span class="text-2xl">
    Amount of food items to buy: <span class="font-bold"><%= @foodcounts %></span>
  </span>
  <span class="text-2xl">
    Total value of food needed: <span class="font-bold">$<%= @foodprices %></span>
  </span>
</div>
<table class="table">
  <thead class="">
    <tr>
      <th class="p-4">Food</th>
      <th class="p-4">Quantity</th>
      <th class="p-4">Price</th>
    </tr>
  </thead>
  <tbody class="bg-gray-300 p-20">
  <% if @food %>
    <% @food.each do |r|%>
      <tr class="h-16">
        <td class="p-4"><%= r.name %></td>
        <td class="p-4"><%= r.quantity %> <%= r.measurement_unit %></td>
        <td class="p-4">$<%= r.price %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
</div>