

    <div class='container'>
<h2>Recipe#<span><%=@recipe.id %></span></h2>
<div class="d-flex">
  <div class="me-5">
    <ul>
      <li>Preparation time: <%= @recipe.preparation_time %> min/hrs</li>
      <li>Cooking time: <%= @recipe.cooking_time %>min/hrs</li>
      <li>Preparation Steps: <%= @recipe.description %></li>
      <li>Steps go here...</li>
    </ul>
  </div>
  <div>
  <%= form_with(model: @recipe, url: recipe_path(@recipe), method: :patch) do |f| %>
    <div class="form-group">
      <% if @recipe.public? %>
        <%= f.submit "Make Private", :class => "btn btn-secondary" %>
        <%= f.hidden_field :public, :value => false %>
      <% else %>
        <%= f.submit "Make Public", :class => "btn btn-primary" %>
        <%= f.hidden_field :public, :value => true %>
      <% end %>
    </div>
  <% end %>

  </div>
</div>


<div class="d-flex justify-content-between">
<%= form_tag(shopping_list_index_path, method: :get) do %>
  <%= hidden_field_tag :button_clicked, true %>
  <%= button_tag "Generate shopping list", class: "btn btn-outline-primary" %>
<% end %>

<%= button_to "Add Ingredient", "/recipes/#{@recipe.id}/recipe_foods/new", 
method: :get, class: "btn btn-outline-primary" %>

    </div>
    <%= render 'shared/recipe_foods_table' %>

</div>


 



