

    <div class='container'>
<h2>Recipe#<span><%=@recipe.id %></span></h2>
<div class="d-flex">
  <div class="me-5">
    <ul>
      <li>Preparation time: <%= @recipe.preparation_time %> min/hrs</li>
      <li>Cooking time: <%= @recipe.cooking_time %>min/hrs</li>
      <li>Preparation Steps: <%= @recipe.description %></li>
      <li>Steps go here...</li>
    </ul>
  </div>
  <div>
    <%= form_with model: @recipe, url: recipes_path(@recipe), method: :patch do |f| %>
      <div class="form-group">
        <label for="public-toggle" class="form-label d-flex align-items-center cursor-pointer">
          <%= f.check_box :public, { class: "form-check-input position-static me-2", id: "public-toggle" } %>
          <div class="form-switch"></div>
          <span>Public</span>
        </label>
      </div>
    <% end %>
  </div>
</div>


<div class="d-flex justify-content-between">
<%= button_to "Generate shopping list", "/shopping_list", method: :get, class: "btn btn-outline-primary" %>

<%= button_to "Add Ingredient", "/recipes/#{@recipe.id}/recipe_foods/new", 
method: :get, class: "btn btn-outline-primary" %>

    </div>
    <%= render 'shared/recipe_foods_table' %>

</div>


 



